<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Add new disease</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
    }

    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }


</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
           href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Home</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Logout</a>
    </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item w3-xxlarge"><b>Menu</b></h4>
    <h4 class="w3-bar-item w3-xlarge"><b>Visit</b></h4>
    <h4 class="w3-bar-item w3-large"><b>Add disease to visit</b></h4>
    <h4 class="w3-bar-item w3-small"><b>Add new disease</b></h4>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-half w3-container">
            <h1 class="w3-text-teal">Select disease to add</h1>
            <h2 class="w3-text-teal">Group chosen successfully</h2>

        </div>
        <div class="w3-row w3-container">


            <table class=" w3-table  w3-striped w3-border  w3-pale-blue">
                <tr>
                    <td></td>
                    <th>Your choice is</th>
                </tr>
                <tr>
                    <th>Classification</th>
                    <td th:text="${diseasesCategories.get(0).getDiseasesGroups().getDiseasesClassifications().getDescription()}"/>
                </tr>
                <tr>
                    <th>Group</th>
                    <td th:text="${diseasesCategories.get(0).getDiseasesGroups().getDescription()}"></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="w3-row ">

    </div>


    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2 class="w3-text-teal">Select disease category from list below</h2>
        </div>

        <div class="w3-twothird w3-container">
            <form th:action="@{/api/disease/searchDiseasesForSelectedCategory}"
                  method="get" class="w3-container w3-card-4"
                  id="select1" th:object="${selectedCategory}">
                <select class="w3-select w3-border" name="selectedItem" id="1" th:field="*{categoryCode}">
                    <option value="">Choose disease category</option>
                    <option th:each="category:${diseasesCategories}"
                            th:value="${category.getCategoryCode()}"
                            th:text="${category.getDescription()}">
                    </option>
                </select>
                <div th:object="${visitFound}">
                    <input type="hidden" th:value="${visitFound.getVisitDate()}" th:field="*{visitDate}"/>
                    <input type=hidden th:value="${visitFound.getPatient().getIndividualNumber()}"
                           th:field="*{patient.individualNumber}"/>
                    <input type=hidden th:value="${visitFound.getPatient().getId()}" th:field="*{patient.id}"/>
                    <input type=hidden th:value="${visitFound.getPatient().getFirstName()}"
                           th:field="*{patient.firstName}"/>
                    <input type=hidden th:value="${visitFound.getPatient().getSurname()}"
                           th:field="*{patient.surname}"/>
                    <input type=hidden th:value="${visitFound.getDoctor().getId()}" th:field="*{doctor.id}"/>
                    <input type=hidden th:value="${visitFound.getId()}" th:field="*{id}"/>
                    <input type=hidden th:value="${visitFound.getDoctor().getPzwNumber()}"
                           th:field="*{doctor.pzwNumber}"/></div>
            </form>

            <div class="w3-row w3-opacity">
                <div class="w3-third">
                    <button class="w3-button w3-block w3-light-blue w3-section"
                            onclick="history.back()"
                            title="Go to previous site"
                    >
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="w3-third">

                    <button class="w3-button w3-block w3-red w3-section"
                            title="Reset"
                            type="reset" form="select1"
                    ><i class="fa fa-remove"></i>
                    </button>

                </div>
                <div class="w3-third">
                    <button class="w3-button w3-block w3-green w3-section" title="Accept"
                            type="submit" form="select1"><i
                            class="fa fa-check"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4>Footer</h4>
        </div>

        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>

    <!-- END MAIN -->
</div>

<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";


    }


</script>

</body>
</html>
