<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Display patient</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}








































</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
           href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
        <a href="/doctor" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Home</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Logout</a>
    </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item w3-xxlarge"><b>Menu</b></h4>
    <h4 class="w3-bar-item w3-xlarge"><b>Visit</b></h4>
    <h4 class="w3-bar-item w3-large"><b>Search patient</b></h4>


    <button class="w3-bar-item w3-button w3-hover-teal"
            form="form1"
            th:formaction="@{/api/disease/c}"
            formmethod="get">Change disease information
    </button>
    <button class="w3-bar-item w3-button w3-hover-teal"
            form="form1"
            th:formaction="@{/api/history/diseasesHistory}"
            formmethod="get">Diseases history
    </button>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-row w3-container">
            <h1 class="w3-text-teal">Patient found successfully</h1>
            <h4 class=" w3-text-teal"></h4>
        </div>
    </div>

    <div class="w3-row w3-opacity w3-container w3-padding-24">
        <div class="w3-third ">

            <button class="w3-button w3-pale-blue  w3-round-xxlarge"
                    type="submit"
                    title="Go to previous site" onclick="history.back()">
                Go back
            </button>

        </div>
        <div class="w3-third ">

        </div>

    </div>
    <div class="w3-row w3-padding-64">


        <div class="w3-row w3-container">
            <form id="form1" th:object="${patient}">
                <table class=" w3-table  w3-striped w3-border  w3-pale-blue w3-twothird">
                    <tr>
                        <td></td>
                        <th>Patient's data</th>

                    </tr>

                    <tr>
                        <th>
                            First name
                        </th>
                        <input type="hidden" th:value="${patient.getFirstName()}" th:field="*{firstName}"/>
                        <td th:text="${patient.getFirstName()}"></td>
                    </tr>
                    <tr>
                        <th>
                            Second name
                        </th>
                        <td th:text="${patient.getSecondName()}"></td>
                        <input
                                type="hidden"
                                th:value="${patient.getSecondName()}"
                                th:field="*{secondName}"/>
                    </tr>
                    <tr>
                        <th>
                            Surname
                        </th>
                        <input type="hidden" th:value="${patient.getSurname()}"
                               th:field="*{surname}"/>
                        <td th:text="${patient.getSurname()}"></td>
                    </tr>
                    <tr>
                        <th>
                            Gender
                        </th>
                        <input type="hidden" th:value="${patient.getGender()}"
                               th:field="*{gender}"/>
                        <td th:text="${patient.getGender()}"></td>
                    </tr>
                    <tr>
                        <th>
                            Individual number
                        </th>
                        <input type="hidden" th:value="${patient.getIndividualNumber()}"
                               th:field="*{individualNumber}"/>
                        <td th:text="${patient.getIndividualNumber()}">

                        </td>
                    </tr>
                    <tr>
                        <th>
                            Number PESEL
                        </th>
                        <input type="hidden" th:value="${patient.getNumberPesel()}"
                               th:field="*{numberPesel}"/>
                        <td th:text="${patient.getNumberPesel()}">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Birth date
                        </th>
                        <input type="hidden" th:value="${patient.getDateOfBirth()}" th:field="*{dateOfBirth}"/>
                        <td th:text="${patient.getDateOfBirth()}">

                        </td>
                        <input type="hidden" th:value="${patient.getId()}" th:field="*{id}"/>
                    </tr>

                </table>

            </form>
        </div>

    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4>Footer</h4>
        </div>

        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>

    <!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";


}



















































</script>

</body>
</html>
