<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Create prescription</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}














































</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
           href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
        <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Home</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Logout</a>
    </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item w3-xxlarge"><b>Menu</b></h4>
    <h4 class="w3-bar-item w3-xlarge"><b>Visit</b></h4>
    <h4 class="w3-bar-item w3-large"><b>Add prescription to visit</b></h4>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-row w3-container">
            <h1 class="w3-text-teal">Create prescription that you want add to this visit</h1>
            <h4 class=" w3-text-teal">Type medicament name and it's dose. Accept it. Repeat how many times you
                want. After last append in the list, click button Create prescription.</h4>
        </div>
    </div>

    <form id="form1" th:object="${visit}" >
        <input type="hidden" th:value="${visit.getVisitDate()}" th:field="*{visitDate}"/>
        <input type=hidden th:value="${visit.getPatient().getIndividualNumber()}"
               th:field="*{patient.individualNumber}"/>
        <input type=hidden th:value="${visit.getPatient().getId()}" th:field="*{patient.id}"/>
        <input type=hidden th:value="${visit.getPatient().getFirstName()}" th:field="*{patient.firstName}"/>
        <input type=hidden th:value="${visit.getPatient().getSurname()}" th:field="*{patient.surname}"/>
        <input type=hidden th:value="${visit.getDoctor().getId()}" th:field="*{doctor.id}"/>
        <input type=hidden th:value="${visit.getId()}" th:field="*{id}"/>

    </form>
    <div class="w3-row w3-container w3-padding-16">


        <div class="w3-row-padding">

            <div class="w3-third">
                <label>Medicament name</label>
                <input class="w3-input w3-border" list="medicaments" id="medicamentName">
                <datalist id="medicaments">
                    <option th:each="med:${allMedicaments}" th:value="${med.getUsefulName()}">

                </datalist>
                <datalist id=""></datalist>
            </div>
            <div class="w3-third">
                <label>Dose</label>
                <input class="w3-input w3-border" list="" id="medicamentDose">

            </div>

            <div class="w3-third ">
                <label>Accept</label>
                <button onclick="newElement()" class="w3-button w3-block w3-green w3-small">Add</button>

            </div>

        </div>

        <div class="w3-row w3-container w3-padding-32">


                    <ul class="w3-ul  w3-border" id="medicamentsList" th:field="*{medicamentList}" >
                        <li><h2>Medicaments</h2></li>


                    </ul>

                <div class="w3-half ">
                    <ul class="w3-ul  w3-border" id="dosesList">
                        <li><h2>Doses</h2></li>

                    </ul>
                </div>


        </div>
        <div class=" w3-row w3-opacity w3-padding-24
                ">
            <div class="w3-third ">

                <button class="w3-button w3-pale-blue  w3-round-xxlarge"
                        type="submit"
                        title="Go to previous site" onclick="history.back()">
                    Go back
                </button>

            </div>
            <div class="w3-third ">

                <button class="w3-button w3-teal  w3-round-xxlarge"
                        type="submit"
                        title="Create prescription" form="form1"
                        th:formaction="@{/api/prescription/addPrescription}"
                        formmethod="get">
                    Create prescription
                </button>

            </div>

        </div>
    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4>Footer</h4>
        </div>

        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>

    <!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";


}



// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var li2 = document.createElement("li");



  var inputValue = document.getElementById('medicamentName').value;
  var inputValue2 = document.getElementById('medicamentDose').value;


  var t = document.createTextNode(inputValue);
  var t2 = document.createTextNode(inputValue2);
  li.appendChild(t);
  li2.appendChild(t2);

  if (inputValue === '' || inputValue2 === '' ) {
    alert("You must write something!");
  } else {
    document.getElementById("medicamentsList").appendChild(li);
    document.getElementById("dosesList").appendChild(li2);
  }
  document.getElementById("medicamentName").value = "";
document.getElementById("medicamentDose").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);
li2.appendChild(span);
  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}























































</script>

</body>
</html>
